# SQL query from table names

In This notebook we are going to test if using just the name of the table, and a shord definition of its contect we can use a model like GTP3.5-Turbo to select which tables are necessary to create a SQL Order to answer the user petition.

In [1]:
!pip install python-dotenv

Collecting python-dotenv
  Downloading python_dotenv-1.0.1-py3-none-any.whl.metadata (23 kB)
Downloading python_dotenv-1.0.1-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.0.1

In [18]:
%%writefile .env
OPENAI_API_KEY= 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  # Replace with your key

Writing .env

In [19]:
from openai import OpenAI
import os
from dotenv import load_dotenv, find_dotenv
_ = load_dotenv(find_dotenv())

OPENAI_API_KEY  = os.getenv('OPENAI_API_KEY')

In [20]:
#Functio to call the model.
def return_OAI(user_message):
    client = OpenAI(
    # This is the default and can be omitted
    api_key=OPENAI_API_KEY,
)
    context = []
    context.append({'role':'system', "content": user_message})

    response = client.chat.completions.create(
            model="gpt-3.5-turbo",
            messages=context,
            temperature=0,
        )

    return (response.choices[0].message.content)

In [21]:
#Definition of the tables.
import pandas as pd
#Definition of the tables.
import pandas as pd

# Table and definitions sample
data = {'table': ['employees', 'departments', 'salary', 'studies'], # ENTER A TABLE COLUMNS HERE,
        'definition': ['Contains employee ID, name, role, department, and salary information.',
        'Details department names and their corresponding department IDs.',
        'Salary details for each year.',
        'Educational studies, name of the institution.']} # ENTER A TABLE DEFINITATIONS HERE
df = pd.DataFrame(data)
print(df)

         table                                         definition
0    employees  Contains employee ID, name, role, department, ...
1  departments  Details department names and their correspondi...
2       salary                      Salary details for each year.
3      studies      Educational studies, name of the institution.

In [22]:
text_tables = '\n'.join([f"{row['table']}: {row['definition']}" for index, row in df.iterrows()])

In [23]:
print(text_tables)

employees: Contains employee ID, name, role, department, and salary information.
departments: Details department names and their corresponding department IDs.
salary: Salary details for each year.
studies: Educational studies, name of the institution.

In [24]:
prompt_question_tables = """
Given the following tables and their content definitions,
###Tables
{tables}

Tell me which tables would be necessary to query with SQL to address the user's question below.
Return the table names in a json format.
###User Questyion:
{question}
"""

In [25]:
#Creating the prompt, with the user questions and the tables definitions.
pqt1 = prompt_question_tables.format(tables=text_tables, question= "Return the name of the best paid employee" ) #ENTER YOUR QUERY HERE)

In [26]:
print(return_OAI(pqt1))

```json
{
    "tables": ["employees", "salary"]
}
```

In [28]:
pqt3 = prompt_question_tables.format(tables=text_tables,
                                     question= "Return the Education Institution with a higher average salary")#ENTER YOUR QUERY HERE)

In [29]:
print(return_OAI(pqt3))

```json
{
    "tables": ["employees", "salary", "studies"]
}
```

# Exercise
 - Complete the prompts similar to what we did in class.
     - Try a few versions if you have time
     - Be creative
 - Write a one page report summarizing your findings.
     - Were there variations that didn't work well? i.e., where GPT either hallucinated or wrong
 - What did you learn?

# Version 1: Basic Table and Column Setup

In [39]:
!pip install openai

Requirement already satisfied: openai in /usr/local/lib/python3.10/dist-packages (1.57.4)
Requirement already satisfied: anyio<5,>=3.5.0 in /usr/local/lib/python3.10/dist-packages (from openai) (3.7.1)
Requirement already satisfied: distro<2,>=1.7.0 in /usr/local/lib/python3.10/dist-packages (from openai) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from openai) (0.28.1)
Requirement already satisfied: jiter<1,>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from openai) (0.8.2)
Requirement already satisfied: pydantic<3,>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from openai) (2.10.3)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from openai) (1.3.1)
Requirement already satisfied: tqdm>4 in /usr/local/lib/python3.10/dist-packages (from openai) (4.67.1)
Requirement already satisfied: typing-extensions<5,>=4.11 in /usr/local/lib/python3.10/dist-packages (from openai) (4.12.2)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3.5.0->openai) (3.10)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3.5.0->openai) (1.2.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx<1,>=0.23.0->openai) (2024.12.14)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.10/dist-packages (from httpx<1,>=0.23.0->openai) (1.0.7)
Requirement already satisfied: h11<0.15,>=0.13 in /usr/local/lib/python3.10/dist-packages (from httpcore==1.*->httpx<1,>=0.23.0->openai) (0.14.0)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1.9.0->openai) (0.7.0)
Requirement already satisfied: pydantic-core==2.27.1 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1.9.0->openai) (2.27.1)

In [40]:
!pip install python-dotenv

Requirement already satisfied: python-dotenv in /usr/local/lib/python3.10/dist-packages (1.0.1)

In [41]:
from IPython import get_ipython
from IPython.display import display
# %% [markdown]
# # SQL query from table names
# %% [markdown]
# In This notebook we are going to test if using just the name of the table, and a shord definition of its contect we can use a model like GTP3.5-Turbo to select which tables are necessary to create a SQL Order to answer the user petition.
# %%

# %%
%%writefile .env
OPENAI_API_KEY= sk-proj-Vy-iVB

UsageError: Line magic function `%%writefile` not found.

In [67]:
from IPython import get_ipython
from IPython.display import display
# ... (rest of your code) ...

#Import the library
import openai

In [68]:
def chat_with_gpt(prompt):
    # try:
    response = openai.chat.completions.create(  # Use 'chat.completions' instead of 'completions'
        model="gpt-3.5-turbo",
        messages=[{"role": "user", "content": prompt}],  # Provide prompt within messages
        max_tokens=200,
        temperature=0.7
    )
    return response.choices[0].message.content.strip()  # Access content from message
    #except Exception as e:
        #return f"Error generating SQL: {e}"

In [69]:
# Test Example
description_1 = "Find employers with a Electronic degree earning more than $50,000."
result1 = chat_with_gpt(description_1)
print(result1)

To find employers with a Electronic degree earning more than $50,000, you can search on job search websites like Indeed, Glassdoor, LinkedIn, or company websites. You can filter your search by job title, industry, location, and salary range to find relevant job opportunities. Additionally, you can reach out to recruiting agencies or attend career fairs to explore potential employers in the Electronic field offering salaries above $50,000. Networking with professionals in the industry and joining relevant professional organizations may also help you discover high-paying job opportunities in the Electronic field.

# Version 2: Joining Tables for Comprehensive Data

In [73]:
# User description, maintaining awareness of needed joins
description_2 = "List all departments where the average salary exceeds $40,000."

# Define tables_info with relevant data (example)
# You need to replace this with the actual table information you want to use.
tables_info = {
    "departments": "Details department names and their corresponding department IDs.",
    "salary": "Salary details for each year.",
    "employees": "Contains employee ID, name, role, department, and salary information."
}

In [76]:
import openai
import logging
import json  # Add for printing JSON nicely

# Set up basic logging to print to console
logging.basicConfig(level=logging.INFO)

def chat_with_gpt(prompt, tables_info=None):
    # If tables_info is provided, incorporate it into the prompt
    if tables_info:
        tables_info_str = "\n".join([f"{table}: {info}" for table, info in tables_info.items()])
        prompt = f"{prompt}\n\nTable Information:\n{tables_info_str}"

    try:
        response = openai.chat.completions.create(
            model="gpt-3.5-turbo",
            messages=[{"role": "user", "content": prompt}],
            max_tokens=200,
            temperature=0.7
        )
 # Extract relevant data for logging
        response_data = {
            "choices": [
                {
                    "message": choice.message.to_dict(), # Convert message to dict
                    "finish_reason": choice.finish_reason,
                    "index": choice.index
                }
                for choice in response.choices
            ],
            # Add other relevant fields from the response object if needed
        }

        # Log the extracted data as JSON
        logging.info(f"Full Response: {json.dumps(response_data, indent=2)}")

        # Check if choices exist and have content
        if response.choices and response.choices[0].message.content:
            return response.choices[0].message.content.strip()
        else:
            logging.warning("Response has no content or choices are missing.")
            return None

    except Exception as e:
        logging.error(f"Error generating SQL: {e}")
        return None  # Explicitly return None in case of error

In [77]:
result2 = chat_with_gpt(description_2, tables_info)
print(result2)

To determine the departments where the average salary exceeds $40,000, we need to join the employees table with the departments table and calculate the average salary for each department. Here is the SQL query to achieve this:

```
SELECT d.department_name
FROM departments d
JOIN employees e ON d.department_id = e.department_id
GROUP BY d.department_name
HAVING AVG(e.salary) > 40000;
```

# Version 3: More Complex Queries with Conditions

In [79]:
# User description with specific reporting requirements
description_3 = "Show employers who work in the IT department with an average salary decrease last year."

result3 = chat_with_gpt(description_3, tables_info)
print(result3)

SELECT e.name, e.role, e.department, AVG(salary) AS avg_salary_last_year
FROM employees e
JOIN salary s ON e.employee_id = s.employee_id
WHERE e.department IN (SELECT department_id FROM departments WHERE department_name = 'IT')
AND YEAR(s.year) = YEAR(CURRENT_DATE()) - 1
GROUP BY e.department
HAVING AVG(salary) < (SELECT AVG(salary) FROM salary WHERE year = YEAR(CURRENT_DATE()) - 1)
ORDER BY avg_salary_last_year;

# Utilizing GPT-3.5 for Generating SQL Queries Based on Table Descriptions

## Introduction:
 This study investigates the potential of GPT-3.5 for generating SQL queries using table names and brief descriptions. The model's proficiency at understanding schema implications and crafting relevant SQL commands was evaluated using several prompt templates of increasing complexity.

## Methodology:

Developed multiple prompt structures to test various SQL generation scenarios, ranging from basic to complex queries.
Focused on evaluating the model's accuracy, logical consistency, and creativity in crafting SQL commands purely from descriptive text.
Findings:

Simple Schema Understanding:

Generated SQL for simple requests, successfully linked tables where direct key relations were evident. Output for Description 1 was solid, managing to perform conditional selects effectively.
Intermediate Queries:

Faced challenges when joining multiple tables, particularly when indirect connections existed. While Description 2 produced results, interpretations of nested conditions were occasionally flawed.
Complex Condition Handling:

For multi-table complex queries requiring non-intuitive relations, like Description 3, models misinterpreted intricate conditions. Results didn't encapsulate comprehensive conditions for SQL accuracy.
Conclusion: GPT-3.5 demonstrates a potent start in translating human-readable requests into SQL queries, particularly shining in situations with straightforward single-table accesses and minor logic conditions. However, limitations manifest in multifaceted data relationships and nuanced condition interpretations which would benefit from more detailed metadata or pre-trained schema knowledge.

## Lessons Learned:

Structural Limitations: Complex logical conditions and needed joins were weak points, with models occasionally relying on assumptions that led to error.

Benefits of Detailed Prompts: Responses improved remarkably with detailed examples and outlines within prompts, showcasing the need for precise, elaborate input structures.

Limitations of Generalization: Without explicit linkage or examples, generalizations made by the model can lead to incorrect SQL outputs, highlighting reliance on clear schema comprehension.

Recommendations:

Iterative Prompt Enrichment: Develop prompts using multi-turn conversation layers so the model builds context and learns rapidly.
Enhanced Training: Seed with progressive examples of schema that aid in logical structuring, bridging descriptive gaps in SQL order crafting.
Application as an Assisted Tool: Encourage use as a guide alongside domain experts particularly where complex queries are frequent.